<h1>BURGER TIME!</h1>

<h2>You already ate the burger?!?!?</h2>

<ul style="list-style-type:none">
  {{#each burgers}} 
    {{#unless devoured}} 
      {{> burgers/burger-block devoured=true}} 
    {{/unless}} 
  {{/each}}
</ul>

<h2>Are you just going to stare at it...?</h2>

<ul style="list-style-type:none">
  {{#each burgers}} 
    {{#if devoured}} 
      {{> burgers/burger-block devoured=false}} 
    {{/if}} 
  {{/each}}
</ul>

<div class="form-group">
  <h3>Add a Burger</h3>
  <form class="create-form">

    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name"><br>
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="0" checked> YOU'VE ALREADY EATEN IT!<br>
    <input type="radio" name="devoured" value="1"> Just sitting there...<br>
    <button type="submit">Add Burger</button>
</div>


</form>